
                    // 重要程度滑块变化事件
                    $(".importance-slider").off("input").on("input", function() {
                        var tagId = $(this).data("id");
                        var value = $(this).val();
                        
                        // 更新显示值
                        $(this).siblings("label").find(".importance-value").text(value);
                        
                        // 更新隐藏字段值
                        $("#selectedTagsContainer input[name=\"tagIds\"][value="" + tagId + """]")
                            .siblings("input[name=\"importances\"]").val(value);
                    });
                }
                
                // 初始化绑定事件
                bindSelectedTagEvents();
                
                // 标签搜索功能
                $("#tagSearchInput").on("input", function() {
                    var searchText = $(this).val().toLowerCase();
                    
                    if (searchText.length > 0) {
                        // 隐藏类别标题
                        $(".tag-category-name").hide();
                        
                        // 搜索标签
                        $(".tag-item").each(function() {
                            var tagName = $(this).text().toLowerCase();
                            if (tagName.indexOf(searchText) > -1) {
                                $(this).show();
                            } else {
                                $(this).hide();
                            }
                        });
                    } else {
                        // 显示所有内容
                        $(".tag-category-name").show();
                        $(".tag-item").show();
                    }
                });
                
                $("#tagSearchButton").click(function() {
                    var searchText = $("#tagSearchInput").val();
                    if (searchText.length > 0) {
                        $("#tagSearchInput").trigger("input");
                    }
                });
            });
        </script>
    </th:block>
</body>
</html>
